html {
    font-family: sans-serif;
}
.article {
    min-height: 500px;
}
.article-content {
    font-size: 16px;
    line-height: 1.7;
    word-wrap: break-word;
    word-break: break-word;
}
.article-title {
    text-align: center;
    font-size: 25px;
}
textarea {
    outline: none;
    border: 1px solid lightblue;
    size: none;
}
.commentbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.commentbox span {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color: lightblue;
    margin-left: 10px;
    cursor: pointer;
    
}
.c {
    position: relative;
    line-height: 80px;
    margin-top: 20px;
    min-height: 80px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.uname {
    position: absolute;
    right:170px;
    top:25px;
}
.ctime {
    position: absolute;
    right: 20px;
    top:29px;
    font-size: 12px;
    color: gray;
}
.rec {
    position: absolute;
    right: 130px;
    top:28px;
    font-size: 12px;
    cursor: pointer;
    color: gray;
}